.hero {
  width: 100%;
}

.heroMap {
  width: 100%;
  height: auto;
  display: block;
}

/* klikabilna “maska” */
.heroMap .hotspot {
  fill: rgba(255, 255, 255, 0); /* nevidno */
  cursor: pointer;
  pointer-events: all;
}

/* malo feedbacka na hover/focus (lahko tudi izbrišeš) */
.heroMap .hsLink:focus .hotspot,
.heroMap .hsLink:hover .hotspot {
  fill: rgba(255, 255, 255, 0.18);
}
