html, body{
  background: #fff !important;
}
.site-header{
  padding: 16px 12px 10px;
  border-bottom: 1px solid #ddd;
}

.icon-nav{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap: 18px;
}

.icon-link{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-decoration:none;
}

.icon{
  width: 46px;
  height: 46px;
  display:block;

  filter: grayscale(100%) contrast(1.1);
  opacity: 0.45; /* prej 0.95 -> to zmanjša vidnost */
}

.icon-link.is-active .icon{
  filter: none;
  opacity: 1;
}


.icon-title{
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.1;
  text-align:center;
  color:#111;

  display:none; /* pokažemo samo na aktivni strani */
}

@media (max-width: 480px){
  .icon-nav{
    gap: 12px;
  }

  .icon{
    width: 34px;
    height: 34px;
  }

  .icon-title{
    font-size: 12px;
    margin-top: 6px;
  }
}

